<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{data.title}} | {{page.title}}</title>
  {{# page.description }}
  <meta name="description" content="{{ . }}">
  {{/ page.description }}
  <meta name="author" content="{{ data.author.name }}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0">

  <link href="/assets/bride/stylesheets/reset.css?0.14839726948649812" type="text/css" rel="stylesheet" media="all">
  <link href="/assets/bride/stylesheets/skeleton.css?0.5190068640786534" type="text/css" rel="stylesheet" media="all">
  <link href="/assets/bride/stylesheets/superfish.css?0.998081871581963" type="text/css" rel="stylesheet" media="all">
  <link href="/assets/bride/stylesheets/style.css?0.559872172092854" type="text/css" rel="stylesheet" media="all">
  <link href="/assets/bride/stylesheets/slider.css?0.5590991918954125" type="text/css" rel="stylesheet" media="all">
  <link href="/assets/bride/stylesheets/WiltoCarousel.css?0.7161771945327673" type="text/css" rel="stylesheet" media="all">
  <link href="http://fonts.googleapis.com/css?family=Lobster+Two:700?0.6849444764512262" type="text/css" rel="stylesheet" media="all">

	<link rel="icon" href="{{urls.theme}}/media/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="{{urls.theme}}/media/favicon.ico" type="image/x-icon">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js?0.48425744275713356"></script>
  <script src="/assets/bride/javascripts/script.js?0.36604075818118664"></script>
  <script src="/assets/bride/javascripts/jquery.hoverIntent.js?0.04086131454477082"></script>
  <script src="/assets/bride/javascripts/superfish.js?0.580562951227171"></script>
  <script src="/assets/bride/javascripts/jquery.responsivemenu.js?0.44946705590248703"></script>
  <script src="/assets/bride/javascripts/slides.min.jquery.js?0.5521023326483377"></script>
  <script src="/assets/bride/javascripts/jquery.easing.1.3.js?0.20175972666224373"></script>
  <script src="/assets/bride/javascripts/WiltoDynamicCarousel.js?0.8494818845082756"></script>

	<!--[if lt IE 8]>
		<div style='clear: both; text-align:center; position: relative;'>
			<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
				<img src="http://storage.ie6countdown.com/assets/100/{{urls.theme}}/media/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today.">
			</a>
		</div>
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<link rel="stylesheet" href="css/ie.css">
	<![endif]-->
</head>
<body id="page1">

	<!--======================== header ============================-->
	<header>
		<div class="container_12 indent-bottom">
			<div class="grid_12">
				<!--======================== logo ============================-->
				<div>
  				<h1>
  					<a href="/">{{data.title}}</a>
  				</h1>
  				<div class="logo12">
  				  <span class="logotext">
  				    {{data.tagline}}
  				  </span>
  				</div>
				</div>
				<!--======================== menu ============================-->
				<div class="menu-border-bot">
					<nav>
						<div id="menu-icon">Menu <span></span></div>
						<ul class="menu responsive-menu">
              {{# data.navigation }}
                <li{{#active}} class="active"{{/active}}><a href="{{path}}">{{title}}</a></li>
              {{/ data.navigation }}
            </ul>
					</nav>
				</div>
			</div>
			<div class="clear"></div>
		</div>

  {{# page.slider }}
    {{{ slider }}}
  {{/ page.slider }}

	</header>

	<!--======================== content ===========================-->
	<section id="content">
		<div class="bg1">
		  <div class="container_12">
  		  <div class="wrapper">
					<div class="grid_6">
						<div class="indent-right6-1">
 							<div class="slidewrap">
    						{{{ page.content }}}
 							</div>
						</div>
					</div>
					<div class="grid_6 last-col">
						<div class="wrapper">
							<div class="dgrid_3">
								<h3 class="p2">Hours</h3>
                <strong>Monday</strong> {{data.info.hours.mon_1_open}} - {{data.info.hours.mon_1_closed}}<br />
                <strong>Tuesday</strong> {{data.info.hours.tue_1_open}} - {{data.info.hours.tue_1_closed}}<br />
                <strong>Wednesday</strong> {{data.info.hours.wed_1_open}} - {{data.info.hours.wed_1_closed}}<br />
                <strong>Thursday</strong> {{data.info.hours.thu_1_open}} - {{data.info.hours.mon_1_closed}}<br />
                <strong>Friday</strong> {{data.info.hours.fri_1_open}} - {{data.info.hours.mon_1_closed}}<br />
                <strong>Saturday</strong> {{data.info.hours.sat_1_open}}- {{data.info.hours.mon_1_closed}}<br />
                <strong>Sunday</strong> {{data.info.hours.sun_1_open}} - {{data.info.hours.mon_1_closed}}
							</div>
							<div class="dgrid_3">
								<h3 class="p2">Closed for the following</h3>
                <strong>January</strong> - New Years Day<br />
                <strong>April</strong> - Easter Sunday<br />
                <strong>May</strong> - Memorial Day<br />
                <strong>July</strong> - Independence Day (4th of July)<br />
                <strong>September</strong> - Labor Day<br />
                <strong>November</strong> - Thanksgiving Day<br />
                <strong>December</strong> - Christmas Eve & Christmas Day
							</div>
						</div>
					</div>
					<!-- ./grid_6 -->
  		  </div>
  		  <!-- ./wrapper -->




		  </div>
		</div>
	</section>
	<!--======================== footer ============================-->
	<footer>
		<div class="container_12">
			<div class="wrapper">
				<div class="grid_12 footer-text">
					<p><phone>{{ data.info.phone }}</phone></p>
          <p class="p0">{{ data.author.name }} &copy; 2013 </p>
					<div class="footer-link"><!--{%FOOTER_LINK} --></div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>